# Java related
target/**
*.jar
*.war
*.ear
*.class
/build/

# eclipse specific
*/context.xml
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
project/.classpath
project/.classpath
project/WebContent/META-INF/context.xml
project/WebContent/META-INF/context.xml
